[Unit]
Description = Start the Work TV service
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/userworkstvlaunch.sh
Restart=always

[Install]
WantedBy=multi-user.target

